@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import 'tailwindcss';

@theme {
    --font-roboto: "Roboto", sans-serif;
}

.fancy-gradient h1 {
    background-image: linear-gradient(169deg,rgba(251, 0, 255, 1) 0%, rgba(253, 121, 224, 1) 50%, rgba(255, 255, 0, 1) 100%);
    background-size: cover;
    color: transparent;
    background-clip: text;
}

header h1 {
    width: fit-content;
}

.body-heading {
    display: block;
    margin-bottom: 0.5rem;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}

.body p {
    margin-bottom: 1rem;
}

.body:last-child {
    margin-bottom: 0;
}

.body:first-child {
    margin-top: 1rem;
}

.skill-carousel {
    background: #fff;
    border-radius: 10%;
    padding: 2em;
}

.skill-carousel img {
    height: 100px;
}