@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import 'tailwindcss';

@theme {
    --font-roboto: "Roboto", sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

header h1 {
    width: fit-content;
}

header figcaption {
    opacity: 0;
}

.body-heading {
    display: block;
    margin-bottom: 0.5rem;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}

.body p {
    margin-bottom: 1rem;
}

.body:last-child {
    margin-bottom: 0;
}

.skill-carousel figure img {
    height: 100px;
    transition: 0.5s ease-in-out;
}

.skill-carousel figure:hover img {
    height: 125px;
}

.skill-carousel figure figcaption {
    transition: 0.5s ease-in-out;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
}

.skill-carousel figure:hover figcaption {
    opacity: 1;
}

.main-nav a:hover {
    color: #fff;
    text-shadow: #000 1px 1px 0px;
    transition: 0.3s;
}

footer {
    color: #fff;
    width: 100%;
    min-height: 30px;
}